<!-- mail page html template -->
<ion-header no-border>
    <headpage pageName="history"></headpage>
  </ion-header>
  
  
  <ion-content padding >
    <ion-card class="big_card" >
      <ion-grid class="heightstyle">
        <ion-row class="center">
          <ion-col col-2></ion-col>
          <ion-col text-left col-7>
            <h2 class="titlescss">{{param.datatext.edithistory}}</h2>
            <p class="txt">{{param.datatext.info_history}}</p>
          </ion-col>
          <ion-col col-3>
            <button
                    ion-button
                    [color]="buttonColor"
                    class="btn_checkbox"
                    (mouseup)="update_photo_history($event)"
                ><ion-icon *ngIf="param.patrolInfo.photo_history == 1" class="iconscss" name="checkmark"></ion-icon></button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-10>
            <button ion-button class="btn_empty_history" (mouseup)="this.popup.emptyHistory($event)">{{param.datatext.emptyHistory}}</button>
          </ion-col>
        </ion-row>
      
      </ion-grid> 
  
  </ion-card>
   
  
  </ion-content>