//mail page style sheet
page-photoHistory {
    ion-content > div.scroll-content {
        overflow: hidden;
    }
    .big_card{
        //background-size: cover;
        //background-image: url("../assets/imgs/patrol.jpg");
        background-color: rgba(26, 156, 195, 0.199);
        height:98%;
        border-radius: 15px;
        vertical-align: middle;
        justify-content: center;
        display: flex!important;
        align-items: center!important;
        padding: 5%;
    }
 
   
    ion-icon {
        color: black;
        
      }

    .txt{
        font-size: x-large !important;
    }

    .btnscss{
        font-size: xx-large;
        border-radius: 15px;
        text-align: center;
        
    }

    .btn-add {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(26, 156, 195);
        
    }

    
    .mailnotvalid {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(173, 173, 173);
        
    }
    .btn-trash{
        background-color: white;
        font-size: xx-large;
   
    }
    
    .iconscss{
        font-size: xx-large;
   
    }
    .item{
        margin:5px auto;
        border-radius: 15px;
        font-size: x-large;
      }

    .titlescss{
        border-radius: 15px;
        margin-top: 20px;
        font-size:xx-large;
        background-color: rgba(26, 156, 195, 0);
    }
    
    .heightstyle{
        width: 100%;
        height: 100%;
    }
    .labelcss{
        font-size: x-large !important;
        vertical-align: middle; margin: 0px;display: flex; align-items: center!important;
    }
    .btn_empty_history{
        background-color: #ea9999ff;
        border-radius: 5px;
        color: black;
        padding: 30px;
        font-size: x-large;
        margin-top: 50px;
    }
    .btn_checkbox{
        width: 60px;
        height: 60px;
    }
}