//home page style sheet
page-home {

ion-content > div.scroll-content {
    overflow: hidden;
}

.video-responsive { 
    overflow:hidden; 
    position:relative; 
    height:100%;
    width: 100%;
    background-color: white;
}
    

.big_card{
    //background-size: cover;
    //background-image: url("../assets/imgs/patrol.jpg");
    background-color: rgba(26, 156, 195, 0.199);
    height:100%;
    border-radius: 15px;
    
}


.heightstyle{
    height: 100%;
    
}
.heightstyle2{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.div_btn_go{
    flex-grow : 1;
    padding-right: 8px;
    margin: 0px !important;
}

.itemstyle{
    align-items: center;
    padding-left: 0px;
    padding-right: -50px;
    margin-bottom: 5px;
    border: none;
    background-color: transparent;
}

.btn_go{
    margin: 0px !important;
    min-height:100%;
    min-width: 100%;
    border-radius: 15px;
   
}

.myCustomSelect{
    font-size:1.5vw;
    margin-bottom: 8px;
    margin: 0px !important;
    border-radius: 15px;
    min-width: 100%;
    max-width: 100;
    width: 100%;
    color:white;
    background-color: rgba($color: #000000, $alpha: 0.65);
   }


.legendePOI{
    font-size:3vw;text-align: center;height:100%;color:white;
}
.legende{
    font-size:3vw;text-align: center;height:100%;color:white;
}
.icon_style{
    font-size: 10vw;
}

.legende_item{
    color:white;
}

.btn_cam {
    margin: 0px !important;
    margin-bottom: 8px !important;
    min-height: 100px;
    width: 98%;
    border-radius: 15px;
    font-size: 2vw;
    color: white;
  }
.icon_cam {
font-size: 4vw;
}

.joy{
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 99%;
    width: 95%;
    position: absolute; 
    background-color: transparent;
}
.video{
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 100%;
    width: 100%;
    height: 99%;
    width: auto;
    max-width: 95%;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
   
}

.test{
    overflow:hidden; 
    position: static; 
    height:100%;
    width: 100%;
    flex-grow : 1;
    margin: 0px !important;
    background-color: rgba(26, 156, 195, 0);
  }

.scroll-content{
    justify-content: center;
    align-items: center!important;
}

.imgpicked{
    width: 700px;
}

hr {
    height: 2px !important;
    width: 100% !important;
    background: black !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 0.2 !important;
    visibility: visible !important;
  }

  .datePhoto{
      font-size: 3vw;
  }
  .hourPhoto{
    font-size: 6vw;
}

.photoHistoryDeactivated{
    display: flex;
    background-color: white;
    height: 100%;
}

.enfant{
    margin: auto;
}

.photoHistoryDeactivated .enfant p{
    font-size: xx-large;
}

.photoHistoryDeactivated .enfant .txt{
    font-size: x-large;
}
}