<!-- home page html template -->
<ion-header no-border>
  <headpage pageName="home"></headpage>
</ion-header>

<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle">
        <ion-col col-3 class="heightstyle2">

          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle" text-wrap>
            <ion-select #select1 slot="end" okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              [selectOptions]="selectOptions" class="myCustomSelect" placeholder={{this.param.datatext.patrolselect}}
              [(ngModel)]="SelectRound" (ionChange)="onRoundChange()" (mouseup)="onSliderRelease($event,select1)">
              <ion-option *ngFor="let round of this.api.round_current_map" value="{{round.Id}}">{{round.Name}}
              </ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle" text-wrap>
            <ion-select #select2 slot="end" okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              [selectOptions]="selectDuration" (ionChange)="onDurationChange()"  class="myCustomSelect" placeholder={{this.param.datatext.patrolduration}}
              [(ngModel)]="SelectDuration" (mouseup)="onSliderRelease($event,select2)">
              <ion-option value=10>10 min</ion-option>
              <ion-option value=20>20 min</ion-option>
              <ion-option value=30>30 min</ion-option>
              <ion-option value=40>40 min</ion-option>
              <ion-option value=50>50 min</ion-option>
              <ion-option value=60>60 min</ion-option>
              <ion-option value=90>1h30</ion-option>
              <ion-option value=120>2h</ion-option>
              <ion-option value=300>5h</ion-option>
              <ion-option value=420>7h</ion-option>
            </ion-select>
          </ion-item>

<!--
          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle" text-wrap>
            <ion-select #select3 slot="end" okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
              [selectOptions]="selectDetect" class="myCustomSelect" placeholder={{this.param.datatext.bodydetection}}
              [(ngModel)]="SelectDetect" (ionChange)="onDetectChange($event)" (mouseup)="onSliderRelease($event,select3)">
              <ion-option value=1>{{this.param.datatext.alert}}</ion-option>
              <ion-option value=0>{{this.param.datatext.nalert}}</ion-option>

            </ion-select>
          </ion-item> -->


          <button
                        ion-button
                        [color]="buttonColor"
                        class="btn_cam"
                        (mouseup)="displaycam($event)"
                      >
                      <ion-row>
                        <ion-col *ngIf="cam && nbNotifications > 0" col-3>{{nbNotifications}}</ion-col>
                        <ion-col col-9>
                        <ion-icon
                          *ngIf="!cam"
                          color="light"
                          name="camera"
                          class="icon_cam"
                        ></ion-icon>
                        <ion-icon
                          *ngIf="cam"
                          color="light"
                          name="notifications-outline"
                          class="icon_cam"
                        ></ion-icon>
                      </ion-col>
                      </ion-row>
                      </button>

          <ion-buttons class="div_btn_go">

            <!-- the Go button is disabled if the robot is not connected -->
            <button *ngIf="!api.roundActive && !api.towardDocking" ion-button color="secondary"
              [disabled]="!api.is_connected|| !this.SelectRound" (mouseup)="onclickGo($event)"
              class="btn_go">
              <ion-icon color="light" name="play" class="icon_style">
                <p class="legende">{{this.param.datatext.btn_go}}</p>
              </ion-icon>
            </button>
            <button *ngIf="api.roundActive || api.towardDocking " ion-button color="danger"
              (mouseup)="onclickGo($event)"  class="btn_go">
              <ion-icon color="light" name="hand" class="icon_style">
                <p class="legende">{{this.param.datatext.btn_stop}}</p>
              </ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-9>

          <ion-card class="test">
            <ion-scroll [hidden]="cam || param.patrolInfo.photo_history == 0" scrollY="true" scrollX="false" style="height: 100%; width: 100%;">
              <ion-row *ngFor="let image of this.param.photos;">
                <ion-col col-4>
                  <p class="datePhoto">{{image.date_photo}}</p>
                  <p class="hourPhoto">{{image.time_photo}}</p>
                </ion-col>
                <ion-col col-8>
                    <img src="{{image.url_photo}}" class="imgpicked"/>
                </ion-col>
                <hr/>
              </ion-row>
            </ion-scroll>
            <div [hidden]="cam || param.patrolInfo.photo_history == 1" class="photoHistoryDeactivated">
              <div class="enfant">
                <p>{{param.datatext.historyDisabled}}</p>
                <p class="txt">{{param.datatext.infoHistoryActivation}}</p>
              </div>
            </div>

            <div [hidden]="!cam" id="ytb" class="youtube"></div>

            <img [hidden]="!cam" class="video" id="imgcompressed" />
            
            <div class="joy" id="zone_joystick"></div>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  <img id="imgpersondetect" #imgpersondetect src={{detection_url}} crossorigin="anonymous" class="video" style="display:none;" />
  <canvas #canvaspersondetect style="display:none;"> </canvas>
  <canvas [hidden]="true" #canvas style="display:none;"> </canvas>

</ion-content>
