// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toast .toast-wrapper{
    background-color: rgba(209, 0, 24, 0.85);
    border-radius: 15px !important;
}

.toast .toast-message{
    text-align: center;
    color: white;
}

.toastok .toast-wrapper{
    background-color:rgba(58, 167, 72, 0.85);
    border-radius: 15px !important;
}

.toastok .toast-message{
    text-align: center;
    color: white;
}

.csstoast .toast-wrapper{
  border-radius: 15px !important;
  background-color: rgb(58,167,72);
}

.csstoast .toast-wrapper{
    color: white;
    font-size: xx-large !important;
}

@media (min-width: 730px) {

.toast .toast-wrapper{
        background-color:  rgba(209, 0, 24, 0.85);
        min-width: 700px !important;
        border-radius: 15px !important;
}
    
.toast .toast-message{
        text-align: center;
        font-size: 35px !important;
        color: white;
}

.toastok .toast-wrapper{
    background-color: rgba(58, 167, 72, 0.85);
    min-width: 700px !important;
    border-radius: 15px !important;
}

.toastok .toast-message{
    text-align: center;
    font-size: 35px !important;
    color: white;
}
// pop up style 
.alertstyle .alert-wrapper {
    
    min-width: 850px !important;
    border-radius: 15px !important;
    //min-height:300px !important;
}

.alertstyle .alert-message {
    font-size: 35px !important;
    
}

.alertstyle .alert-title {
    font-size: 60px !important;
    //color: rgb(209,0,25);
}

.alertstyle .alert-button {
    font-size: 35px !important;
}
.alertstyle .alert-input {
    font-size: 35px !important;
  }

.alertstyle_wrongpass .alert-wrapper {
    min-width: 850px !important;
    border-radius: 15px !important;
    //min-height:300px !important;
  }

  .alertstyle_wrongpass .alert-message {
    font-size: 35px !important;
    color: red;
  }

  .alertstyle_wrongpass .alert-title {
    font-size: 60px !important;
    //color: rgb(209,0,25);
  }

  .alertstyle_wrongpass .alert-button {
    font-size: 35px !important;
  }

  .alertstyle_wrongpass .alert-input {
    font-size: 35px !important;
  }
}
