//mail page style sheet
page-autolaunch {
  ion-content >div.scroll-content {
    overflow: auto;
  }

  .big-ion-content > div.scroll-content {
    overflow: hidden;
}

  .big_card {
    background-color: rgba(26, 156, 195, 0.199);
    height: 98%;
    border-radius: 15px;

    padding-left: 1%;
    padding-right: 1%;
    
    
  }

  .big_card2 {
    background-color: rgba(26, 156, 195, 0.199);
    height: 98%;
    border-radius: 15px;
    border-radius: 15px;
    vertical-align: middle;
    justify-content: center;
    display: flex !important;
    align-items: center !important;
    font-size: large;

  }


  ion-icon {
    color: black;

  }

  .txt {
    font-size: x-large !important;
  }

  .btnscss {
    font-size: x-large;
    text-align: center;
    height: 70px;
    width: 98%;
    border-radius: 10px;
    margin-top: 20px;
  }


  .btn-add {
    font-size: xx-large;
    border-radius: 15px;
    height: 80px;
    //padding: 40px;
    background-color: rgb(26, 156, 195);

  }

  ion-col {
    text-align: center;
  }

  .btn-trash {
    background-color: white;
    box-shadow: none;

  }

  .iconscss {
    font-size: xx-large;

  }

  

  .item{
    margin: 5px auto;
    border-radius: 15px;
    font-size: large;
  }

  .titlescss {
    border-radius: 15px;
    font-size: xx-large;
    background-color: rgba(26, 156, 195, 0);
    color: #0097a7;
    text-align: center;
    margin-bottom: 3%;
  }

  .heightstyle {
    width: 100%;
    height: 100%;
  }

  .heightstyle10 {
    width: 50%;
    height: 10%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }


  .heightstyle90 {
    width: 100%;
    height: 90%;
  }

  .heightstyle80 {
    width: 100%;
    height: 80%;
  }


  .autolaunchitem {
    border: 2px solid #0097a7;
    color: #0097a7;
    margin: 5px auto;
    border-radius: 15px;
    font-size: x-large;
  }


  .autolaunchionlist {
    background-color: white;
    height: 90%;
    
  }


  .selectForm {
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 70%;
    width: 70%;
  }

 

 
}