<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="autolaunch"></headpage>
</ion-header>


<ion-content class="big-ion-content" padding>
  <ion-card [hidden]="api.addMission" class="big_card">

    <ion-row [hidden]="api.addMission">
      <ion-col text-right>
        <button ion-button class="btn-add" (mouseup)="createMission($event)">
          <ion-icon name="add" class="iconscss" style="color: white;"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="api.addMission" class="heightstyle80">
      <ion-col class="heightstyle">
        <ion-segment class="heightstyle10" id="test" [(ngModel)]="selection">
          <ion-segment-button value="today" style="font-size: x-large">
            {{param.datatext.today}}
          </ion-segment-button>
          <ion-segment-button value="all" style="font-size: x-large">
            {{param.datatext.all}}
          </ion-segment-button>

        </ion-segment>


        <ion-list [hidden]="this.selection === 'today'" class="autolaunchionlist">
          <ion-content #content1 style="height: 100%; width: 100%; background-color: transparent;">
            <ion-item class="autolaunchitem" *ngFor="let mission of this.param.missionsDisplay;">
              <ion-row>
                <ion-col col-2>
                  {{mission.date}}
                </ion-col>
                <ion-col col-2>
                  {{mission.time}}
                </ion-col>
                <ion-col col-4>
                  {{mission.name}}
                </ion-col>
                <ion-col col-2>
                  {{mission.tpsReserv}}min
                </ion-col>
                <ion-col col-1>
                  {{mission.type}}
                </ion-col>
                <ion-col col-1>
                  <button class="btn-trash" (mouseup)="removeMission($event,mission)">
                    <ion-icon class="iconscss" name="trash"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-content>
        </ion-list>

        <ion-list [hidden]="this.selection === 'all'" class="autolaunchionlist">
          <ion-content #content2 style="height: 100%; width: 100%; background-color: transparent;">
            <ion-item class="autolaunchitem" *ngFor="let mission of this.param.missionsDisplayToday;">
              <ion-row>
                <ion-col col-1>
                  {{mission.time}}
                </ion-col>
                <ion-col col-6>
                  {{mission.name}}
                </ion-col>
                <ion-col col-2>
                  {{mission.tpsReserv}}min
                </ion-col>
                <ion-col col-2>
                  {{mission.type}}
                </ion-col>
                <ion-col col-1>
                  <button class="btn-trash" (mouseup)="removeMission($event,mission)">
                    <ion-icon class="iconscss" name="trash"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-content>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card *ngIf="api.addMission" class="big_card2">

    <div style="background-color: rgb(255, 255, 255); height: 90%; width: 70%; padding: 2%; text-align: center;">
      <ion-row style="justify-content: center;">
        <h1 class="titlescss">{{param.datatext.createMission}}</h1>
      </ion-row>
      <form (ngSubmit)="logForm()">
        <ion-item>

          <ion-label>{{param.datatext.date}} :</ion-label>


          <ion-datetime [pickerOptions]="pickerOptions" id="datetime" placeholder="{{todayDate}}"
            displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD-MM-YYYYTHH:mm" [(ngModel)]="newMission.date" name="date"
            class="selectForm" min="{{minDate}}" max="2100" doneText={{this.param.datatext.btn_ok}}
            cancelText={{this.param.datatext.btn_cancel}} showDefaultTitle></ion-datetime>

        </ion-item>
        <ion-item>

          <ion-label>{{param.datatext.map}} :</ion-label>


          <ion-select #select1 [selectOptions]="selectMap" okText={{this.param.datatext.btn_ok}}
            cancelText={{this.param.datatext.btn_cancel}} placeholder="{{param.datatext.mapSelect}}"
            [(ngModel)]="newMission.map" (ionChange)="updateRoundList()" (mouseup)="onSliderRelease($event,select1)"
            class="selectForm" name="map">
            <ion-option *ngFor="let map of this.api.all_maps" value="{{map.Id}}">{{map.Name}}</ion-option>
          </ion-select>

        </ion-item>
        <ion-item>

          <ion-label>{{param.datatext.roundSelection}} :</ion-label>


          <ion-select #select2 class="myCustomSelect" [selectOptions]="selectRound" [(ngModel)]="newMission.idRound"
            okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
            placeholder="{{param.datatext.roundSelect}}" (mouseup)="onSliderRelease($event,select2)" name="round"
            class="selectForm" [disabled]="!newMission.map">
            <ion-option *ngFor="let round of this.api.round_map_selected" value="{{round.Id}}">{{round.Name}}
            </ion-option>
          </ion-select>

        </ion-item>
        <ion-item>

          <ion-label>{{param.datatext.duration}} :</ion-label>


          <ion-select #select3 class="myCustomSelect" [selectOptions]="selectDuration"
            [(ngModel)]="newMission.tpsReserv" okText={{this.param.datatext.btn_ok}}
            cancelText={{this.param.datatext.btn_cancel}} placeholder="{{param.datatext.durationSelect}}"
            (mouseup)="onSliderRelease($event,select3)" name="duration" class="selectForm" required>
            <ion-option value=10>10 min</ion-option>
            <ion-option value=20>20 min</ion-option>
            <ion-option value=30>30 min</ion-option>
            <ion-option value=40>40 min</ion-option>
            <ion-option value=50>50 min</ion-option>
            <ion-option value=60>60 min</ion-option>
            <ion-option value=90>1h30</ion-option>
            <ion-option value=120>2h</ion-option>
            <ion-option value=300>5h</ion-option>
            <ion-option value=420>7h</ion-option>
          </ion-select>

        </ion-item>
        <ion-item>

          <ion-label>{{param.datatext.type}} :</ion-label>

          <ion-select #select4 class="myCustomSelect" [selectOptions]="selectType" [(ngModel)]="newMission.type"
            okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
            placeholder="{{param.datatext.typeSelect}}" (mouseup)="onSliderRelease($event,select4)" name="type"
            class="selectForm" required>
            <ion-option value=1>{{param.datatext.adhoc}}</ion-option>
            <ion-option value=2>{{param.datatext.daily}}</ion-option>
            <ion-option value=3>{{param.datatext.weekly}}</ion-option>
          </ion-select>

        </ion-item>


        <button ion-button
          [disabled]="!newMission.date || !newMission.map || !newMission.idRound || !newMission.tpsReserv || !newMission.type"
          type="submit" class="btnscss">
          {{param.datatext.create}}
        </button>


      </form>

    </div>


  </ion-card>
</ion-content>